*.pyc
UserService/lib/*
UserService/user_app/migrations/*
UserService/profile_app/migrations/*
UserService/provider_profile_app/migrations/*
UserServiceApi/dist
UserServiceApi/user_service_api.egg-info
UserServiceApi/user_service_api.egg-info/*

